/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require hover
 */
.data{
width:500px;
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}
.data th{
padding: 4px;
text-align: left;
vertical-align: top;
color: #444;
background-color: #ccc;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
.data td{
padding: 4px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.even_hour{
  background-color:#ffe6e6;
}

.odd_hour{
  background-color: #ffcccc;
}

.cal{
  text-align: right;
}
.cal td{
  text-align: right;
  width:25px;
}
.cal_title {
  text-align: center;
  width:195px;
  font-size:12pt;
}

.task_data{
width:1000px;
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}
.task_data th{
padding: 4px;
text-align: left;
vertical-align: top;
color: #444;
background-color: #ccc;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
.task_data td{
padding: 4px;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.task_data .start{
  width: 50px;
}
.task_data .end{
  width: 50px;
}
.task_data .dur{
  width: 50px;
}
.task_data .body{
  width: 700px;
}

.yotei_ari a:link,
.yotei_ari a:visited{
  background-color:hsl(240, 100%, 80%);
}
.yasumi a:link,
.yasumi a:visited{
  color:hsl(0, 100%, 65%);
}
.sat a:link,
.sat a:visited{

  color:hsl(240, 85%, 55%);
}

.today a:link,
.today a:visited{
  background-color: hsl(60, 100%, 50%);
}


.capsel_start_day a:link,
.capsel_start_day a:visited{
  background-color: orange;
}

.capsel_stay_day a:link,
.capsel_stay_day a:visited{
  color: green;
}

.this_month {
    background-color: pink;

}

.task_start {
  color: red;
}

a:hover {
color:black;
background-color:transparent;
text-decoration: none;

}

.menu a:hover,
.menu a:link,
.menu a:visited{
  color: black;
  background-color: gray;
}
